html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

body {
  position: relative;
  width: 80%;
  left: 10%;
  /* width: 100%;
  left: 0%; */
  top: 5%;
}

div.banner {
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 30px;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

.row {
  position: relative;
}

.edit_col {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.edit_panel {
  position: relative;
  height: 850px;
}

.zoom_bar {
  position: relative;
  height: 50px;
}

.color_picker_container{
  padding: 15px;
}

.color_picker_circle{
  position: absolute;
  left: 75%;
}

.color_picker{
  position: absolute;
  z-index:1000;
  left: 50%;
}

.container {
  width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.container.sample_container{
  max-width: 65%;
  height: 10%;
  border: 1px solid #000000;
  border-radius:15%;
}

button.sample_button{
  max-width: 65%;
  height: 30%;
}

.save_and_close
{
  position:relative;
}

.cancel
{
  position:relative;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=checkbox]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=checkbox]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}
